registry=https://pkgs.dev.azure.com/ACOVISA/inovaco/_packaging/acovisa-aux/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/ACOVISA/inovaco/_packaging/acovisa-aux/npm/registry/:username=ACOVISA
//pkgs.dev.azure.com/ACOVISA/inovaco/_packaging/acovisa-aux/npm/registry/:_password=QTRBSUJ1bWw0NVIyS3NFbllZWFYyNkJDelNGa3o1TzdCRU5JU0xzVDFDc0Zpa0c5alJRbUpRUUo5OUJHQUNBQUFBQTRBSVJ2QUFBU0FaRE8xMXh2
//pkgs.dev.azure.com/ACOVISA/inovaco/_packaging/acovisa-aux/npm/registry/:email=marcos.cardosos@acovisa.com.br
//pkgs.dev.azure.com/ACOVISA/inovaco/_packaging/acovisa-aux/npm/:username=ACOVISA
//pkgs.dev.azure.com/ACOVISA/inovaco/_packaging/acovisa-aux/npm/:_password=QTRBSUJ1bWw0NVIyS3NFbllZWFYyNkJDelNGa3o1TzdCRU5JU0xzVDFDc0Zpa0c5alJRbUpRUUo5OUJHQUNBQUFBQTRBSVJ2QUFBU0FaRE8xMXh2
//pkgs.dev.azure.com/ACOVISA/inovaco/_packaging/acovisa-aux/npm/:email=marcos.cardosos@acovisa.com.br
; end auth token