{
    "singleQuote": true,
    "printWidth": 200,
    "trailingComma": "none",
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "semi": false
            }
        }
    ]
}
