name: Sync Labels

on:
  schedule:
    - cron: '0 0 */3 * *'
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/labels.yml'

permissions:
  issues: write

jobs:
  label-sync:
    name: Sync labels
    runs-on: ubuntu-latest

    if: github.repository_owner == 'pedroslopez'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Sync labels
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
